html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body {
    background-color: #F3F5FC;
}
header {
    width: 100%;
    padding: 7.5px 0;
    display: flex;
    align-items: center;
    background: linear-gradient(250deg, rgba(10,25,51,1) 0%, rgba(10,25,51,1) 40%, rgba(15,46,93,1) 70%, rgb(126, 37, 144) 90%, rgb(209, 44, 113) 100%);
}

.identidad{
    width: 320px;
    margin: 0 1.5em;
    display: flex;
    align-items: center;
}
.identidad img{
    width: 50px;
}
.identidad h1{
    padding: 0 5px 0 0;
    font-size: 28px;
    color: #F3F5FC;
}

nav{
    width: 500px;
    align-items: center;
    position: absolute;
    right: 0;
}
nav li {
    vertical-align: middle;
    display: inline-block;
    width: 32.5%;
    font-size: 24px;
    text-align: center;
}


nav a {
	z-index: 1;
    font-size: 16px;
    text-transform: uppercase;
    color: #F3F5FC;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

nav ul li:nth-child(1){
	height: 100%;
	transition: all .5s ease 0s;
	border-radius: 10px;
    background-color: rgb(26, 64, 120);
}
nav ul li:nth-child(2){
	border-right: 2px solid #F3F5FC;
}

nav ul li:nth-child(2):hover{
	height: 100%;
	transition: all .5s ease 0s;
	border-radius: 10px;
	width: 33%;
    text-decoration: underline;
	background-color: rgb(28, 79, 155);
}
nav ul li:nth-child(3):hover{
	height: 100%;
	transition: all .5s ease 0s;
	border-radius: 10px;
	width: 33%;
    text-decoration: underline;
	background-color: rgb(28, 79, 155);
}

.principal {
    width: 75%;
    margin: 20px auto;
    align-items: center;
    display: flex;  
}

.titulo-principal {
    width: 48%;
    text-align: center;
    border: 2px solid #040e4891;
    border-radius: 10px;
    position: relative;
}

.titulo-principal h2{
    font-size: 24px;
    padding: 10px 0 ;
}

.copiar{
    position: absolute;
    right: 8%;
    top: 23%;
    width: 20px;
    opacity: 0.7;
    cursor: pointer;
}
.copiar:hover{
    opacity: 1;
}

.intercambiar {
    width: 40px;
    align-items: center;
    padding: 0 5px;
    opacity: 0.7;
    cursor: pointer;
}

.intercambiar:hover{
    opacity: 1;
}

.panel{
    width: 75%;
    margin: 0 auto;
    position: relative;
}
.panel textarea{
    width: 48%;
    height: 237px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    resize: none;
}
.panel textarea:nth-child(2){
    position: absolute;
    right: 0;
    background-image:url(imagenes/nohay.png);
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: 95% 50%;
    cursor: default;
    color:#051933;
}

.panel textarea::placeholder{
    font-size: 18px;
    font-weight: 400;
}

.panel textarea:nth-child(2)::placeholder{
    width: 60%;
    text-align: center;
    padding: 10% 0;
}

main p{
    padding: 8px 12.5%;
}


footer{
    width: 100%;
    height: max-content;
    padding-bottom: 10px;
    background: linear-gradient(rgba(10,25,51,1) 0%, rgba(10,25,51,1) 40%, rgba(15,46,93,1) 70%, rgba(16,55,112,1) 90%, rgba(14,80,166,1) 100%);
}

.redes{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.redes a img{
    width: 50px;
    padding-right: 1em;
}

.redes a img:hover{
    position: relative;
    bottom: 2px;
    transition: all 2s ease-in;
}

.copyright{
    color: #F3F5FC;
    letter-spacing: .08em ;
    font-size: 12px;
    padding-bottom: 1em;
    text-align: center;
}

/* RESPONSIVO*/
@media screen and (max-width:640px){
    header{
        height: 120px;
        display: block;
    }
    nav{
        width: 100%;
    }

    nav a{
        font-size: 14px;
    }

    .titulo-principal{
        margin: 15px 0;
    }
    
    .titulo-principal h2{
        font-size: 15px;
    }
    .panel textarea{
        display:inline-block;
        width: 100%;
        height: 150px;
        font-size: 14px;
        margin: 15px 0;
    }
    .panel textarea::placeholder{
        font-size: 14px;
    }
    .panel textarea:nth-child(2){
        position: relative;
        background-size: 110px;
    }

    .panel textarea:nth-child(2)::placeholder{
        padding: 10% 0 0 0;
    }
    main p{
        margin: 8px 0;
        font-size: 14px;
    }

}